{:blocks (
{:block/content "Test"
:block/format :markdown
:block/left 
{:block/uuid #uuid "684c1a3e-8fdd-43d5-8a58-4615c55c7097"}
:block/parent 
{:block/uuid #uuid "684c1a3e-8fdd-43d5-8a58-4615c55c7097"}
:block/properties 
{}
:block/uuid #uuid "684c1bce-fffe-4c4e-b5d0-33116bf6631c"} 
{:block/created-at 1750256906711
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "684c1bce-fffe-4c4e-b5d0-33116bf6631c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "53ce9ba0-4853-11f0-b760-9b91f4e77d56"
:noFill false
:point [432 328]
:parentId "684c1a3e-8fdd-43d5-8a58-4615c55c7097"
:collapsedHeight 0
:nonce 1749818317410}}
:block/updated-at 1750256906711})
:pages (
{:block/uuid #uuid "684c1a3e-8fdd-43d5-8a58-4615c55c7097"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "684c1a3e-8fdd-43d5-8a58-4615c55c7097"
:name "estrutura e funcionamento geral do sistema android"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("53ce9ba0-4853-11f0-b760-9b91f4e77d56")}}
:block/updated-at 1750256906711
:block/created-at 1749817918915
:block/type "whiteboard"
:block/name "estrutura e funcionamento geral do sistema android"
:block/original-name "Estrutura e funcionamento geral do sistema android"})}