{:blocks (
{:block/content "Teste 1o1o1"
:block/format :markdown
:block/left 
{:block/uuid #uuid "684c1aed-3194-407b-be71-2657ee6ab337"}
:block/parent 
{:block/uuid #uuid "684c1aed-3194-407b-be71-2657ee6ab337"}
:block/properties 
{}
:block/uuid #uuid "684c1bdd-266e-4c99-b7a2-49638a8776f4"} 
{:block/created-at 1749818336241
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "684c1bdd-266e-4c99-b7a2-49638a8776f4"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5ce62f00-4853-11f0-b760-9b91f4e77d56"
:noFill false
:point [752 272]
:parentId "684c1aed-3194-407b-be71-2657ee6ab337"
:collapsedHeight 0
:nonce 1749818332660}}
:block/updated-at 1749818336241})
:pages (
{:block/uuid #uuid "684c1aed-3194-407b-be71-2657ee6ab337"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "684c1aed-3194-407b-be71-2657ee6ab337"
:name "funcionamento do genrenciador de pacotes portage e pacman"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("5ce62f00-4853-11f0-b760-9b91f4e77d56")}}
:block/updated-at 1750003454331
:block/created-at 1749818093899
:block/type "whiteboard"
:block/name "funcionamento do genrenciador de pacotes portage e pacman"
:block/original-name "funcionamento do genrenciador de pacotes portage e pacman"})}