{:blocks (
{:block/created-at 1745348238313
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 0
:scale [1 1]
:scaleLevel "lg"
:fill ""
:type "box"
:size [256 69]
:strokeType "line"
:strokeWidth 3.2
:opacity 1
:label "Kernel"
:id "9777e0d0-1fab-11f0-9416-891212f481f0"
:fontWeight 400
:noFill false
:point [605.5 92.5]
:fontSize 32
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:nonce 1745348229121
:italic false}}
:block/updated-at 1745348238313} 
{:block/content "O kernel é o núcleo do sistema operacional, ele é armazenado na partição de boot \"/boot\" do dispositivo de armazenamento (HD ou SSD).\nEle é compilado e comprimido (bzimage geralmente) para ser carregado mais rápidamente na memória RAM pelo bootloader (grub, syslinux, efiboormgr (para registrar o kernel diretamente na partição EFI), etc...), ele se descomprime sozinho na memória RAM (em código máquina) e assume o controle dando continuidade a inicialização do sistema."
:block/format :markdown
:block/left 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/parent 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/properties 
{}
:block/uuid #uuid "6807e6fe-f836-463f-a940-2dd055918494"} 
{:block/created-at 1745348354186
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "6807e6fe-f836-463f-a940-2dd055918494"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 281]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "df3fbb90-1fab-11f0-9416-891212f481f0"
:noFill false
:point [555.0000000000009 180.5]
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:collapsedHeight 0
:nonce 1745348349470}}
:block/updated-at 1745348354186} 
{:block/content "Ele é pré-programado para fornecer instruções e assumir o controle da comunicação entre os softwares e os hardwares do computador. Para isso, ele possui drivers e módulo básicos, sub-sistemas e funções prontas para lidar com os eventos do sistema, que podem ser: interrupções, exeções, timers, eventos de dispositivos, entre outros..."
:block/format :markdown
:block/left 
{:block/uuid #uuid "6807e6fe-f836-463f-a940-2dd055918494"}
:block/parent 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/uuid #uuid "6807e713-4728-4bfd-8af3-9ab36438eaec"} 
{:block/created-at 1745348378650
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "6807e713-4728-4bfd-8af3-9ab36438eaec"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ec20da10-1fab-11f0-9416-891212f481f0"
:noFill false
:point [560 496]
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:collapsedHeight 0
:nonce 1745348371199}}
:block/updated-at 1745348378650} 
{:block/created-at 1745348544008
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:borderRadius 2
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "box"
:size [271 72]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label "CPU (Control Process Unit)"
:id "46cb9b30-1fac-11f0-9416-891212f481f0"
:fontWeight 400
:noFill false
:point [1182 94.5]
:fontSize 20
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:nonce 1745348523220
:italic false}}
:block/updated-at 1745348544008} 
{:block/content "As interrupções são inicialmente identificadas através do um circuito lógico interno da própria CPU, que é responsável por identificar uma sequência específica que indica uma syscall pelo programa,  assim, a CPU verifica o valor da syscall já passada pelas instruções do programa, na tabela IDT inicializada e configurada pelo kernel durante a inicialização, assim a CPU obtém o endereço da ISR associada ao valor da syscall, para assim a ISR resolver a interrupção do programa."
:block/format :markdown
:block/left 
{:block/uuid #uuid "6807e713-4728-4bfd-8af3-9ab36438eaec"}
:block/parent 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/properties 
{}
:block/uuid #uuid "6807e7cb-4a70-4417-aa46-96936da40569"} 
{:block/created-at 1745348555418
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "6807e7cb-4a70-4417-aa46-96936da40569"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 281]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "58f4f590-1fac-11f0-9416-891212f481f0"
:noFill false
:point [1189 201.5]
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:collapsedHeight 0
:nonce 1745348553580}}
:block/updated-at 1745348555418} 
{:block/content "Cada interrupção possui um nível de prioridade específico de acordo com o processador."
:block/format :markdown
:block/left 
{:block/uuid #uuid "6807e7cb-4a70-4417-aa46-96936da40569"}
:block/parent 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/properties 
{}
:block/uuid #uuid "6807e7ec-95bf-4a15-a842-4c2409859269"} 
{:block/created-at 1745348588774
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "6807e7ec-95bf-4a15-a842-4c2409859269"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 65]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6ce1f8f0-1fac-11f0-9416-891212f481f0"
:noFill false
:point [1200 520]
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:collapsedHeight 0
:nonce 1745348587010}}
:block/updated-at 1745348588774} 
{:block/content "Detalhes importantes saber para entender como a CPU executa syscalls ou lida com outros eventos do sistema:"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6807e7ec-95bf-4a15-a842-4c2409859269"}
:block/parent 
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"}
:block/properties 
{}
:block/uuid #uuid "6807e7fc-0c7e-444a-ad23-b8bf23644fd3"} 
{:block/created-at 1745348604973
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "6807e7fc-0c7e-444a-ad23-b8bf23644fd3"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 89]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "769f1b20-1fac-11f0-9416-891212f481f0"
:noFill false
:point [1216 600]
:parentId "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:collapsedHeight 0
:nonce 1745348603349}}
:block/updated-at 1745348604973})
:pages (
{:block/uuid #uuid "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6807e5ae-72b8-4a80-b494-6cd722dbe9e4"
:name "como funciona um terminal? e como a cpu executa instruções?"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("9777e0d0-1fab-11f0-9416-891212f481f0" "df3fbb90-1fab-11f0-9416-891212f481f0" "ec20da10-1fab-11f0-9416-891212f481f0" "46cb9b30-1fac-11f0-9416-891212f481f0" "58f4f590-1fac-11f0-9416-891212f481f0" "6ce1f8f0-1fac-11f0-9416-891212f481f0" "769f1b20-1fac-11f0-9416-891212f481f0")}}
:block/updated-at 1745348605470
:block/created-at 1745348014113
:block/type "whiteboard"
:block/name "como funciona um terminal? e como a cpu executa instruções?"
:block/original-name "como funciona um terminal? e como a cpu executa instruções?"})}